<div class="main">

<div>
<h1>Admin Form</h1>
<form #adminForm="ngForm" (ngSubmit)="adminFormData(adminForm.value)" autocomplete="off" >
<input type="text" name="adminName" #name="ngModel" appChractersOnly required placeholder="Enter your name" [ngModel]="adminData.name">Name
<br>
<span *ngIf="name.touched && name.invalid || name.errors?.['required']" class="error">Please Enter Your Name</span>
<br><br>
<input type="tel" name="adminMobile" #mobNo="ngModel" pattern="[0-9]*" minlength="10" maxlength="10" placeholder="Enter Mobile number" [ngModel]="adminData.mobileNo"> Mobile number
<br>
<span *ngIf=" mobNo.errors?.['pattern']"  class="error">Please enter valid mobile number</span>
<br>
<button [disabled]="adminForm.invalid">submit</button>

</form>

{{carData.carName}}


</div>
</div>






