<p>home works!</p>
<h1>Our first project</h1>
<h2>our 3rd day of learning angular</h2>
<!-- <app-login></app-login>
<app-logout></app-logout>
<app-popup2></app-popup2>
<app-signin></app-signin>
<app-signout></app-signout>
<app-test></app-test> -->
<div class="main">
<a routerLink="/login">Login</a>
<br>
<a routerLink="/logout">logout</a>
<br>
<a routerLink="/popup">popUp</a>
<br>
<a routerLink="/more">more</a><br>
<!-- <a href="logout">Logout</a> It will refresh application -->
<a  routerLink="/admin/adminLogin">admin login</a><br>
<a  routerLink="/admin/adminLogout">admin logout</a><br>
<a routerLink="/student/studentLogin">studentModule</a><br>
<a routerLink="/admin/adminLogin">adminModule</a>
<a routerLink="/about/aboutUs">about us Module</a><br>
<a routerLink="/test">test component</a><br>
<a routerLink="/popup2">popup2</a>
<!-- <app-child [name]="myName"></app-child>
<input type="text" #inputValue>Type something 
<button (click)="dataFromParToChild(inputValue.value)">parentToChild</button>
<app-test (parentData)="parentDataFun($event)" ></app-test> -->

</div>
<br>
<br>

<app-datatransfer (childData)="getData($event)" ></app-datatransfer>
<br>
<br>
<div class="main1">
    <h1>{{childData}}</h1>
</div>
<br><br>


<div class="main2">

<input type="tel" #mobNo> Type your mobile number<br>
<button (click)="sendData(mobNo.value)">parentData</button>
<br>
<app-child [mobNo]="userMobNo"></app-child>
</div>
<br>
