<p>home works!</p>
<h1>Our first project</h1>
<h2>our 3rd day of learning angular</h2>
<!-- <app-login></app-login>
<app-logout></app-logout>
<app-popup2></app-popup2>
<app-signin></app-signin>
<app-signout></app-signout>
<app-test></app-test> -->

<a routerLink="/login">Login</a>
<br>
<a routerLink="/logout">logout</a>
<br>
<a routerLink="/more">more</a><br>
<!-- <a href="logout">Logout</a> It will refresh application -->
<a  routerLink="/admin/adminLogin">admin login</a><br>
<a  routerLink="/admin/adminLogout">admin logout</a><br>
<a routerLink="/student/studentLogin">studentModule</a><br>
<a routerLink="/admin/adminLogin">adminModule</a>
<a routerLink="/about/aboutUs">about us Module</a><br>
<a routerLink="/test">test component</a>
<app-child [name]="myName"></app-child>
<input type="text" #inputValue>Type something 
<button (click)="dataFromParToChild(inputValue.value)">parentToChild</button>
<app-test (parentData)="parentDataFun($event)" ></app-test>

